<div class="container " style=" margin-top: 20px;  overflow-x: hidden; background-color:rgba(248, 248, 248, 1);
border-radius: 20px;
width: 2000px;
height: 800px;">
<div class="row">
<div class="col-6"><div class="container " style="  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    border-radius: 30px; overflow-x: hidden;  background-color:rgba(248, 248, 248, 1);
    box-shadow: inset;
    width: 400px;
    height: 800px; margin-left: 890px;">
        <ul class="users" >
            <li class="person" data-chat="person1" style="text-align: right;" *ngFor="let user of userList">
                <p class="name-time">
                    <!-- <span class="time">15/02/2023</span> -->
                    
                    <span class="name">{{user.fname}} {{user.lname}} </span>
                </p>
                <div class="user">
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <img src="././assets/download (1).jpg" alt="Retail Admin">
                    <span class=""></span>
                </div>
                
            </li>
        
        </ul>
</div></div>
<div class="col-6">
    <div class="container " style=" overflow: scroll;  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    border-radius: 30px; overflow: scroll;  background-color:rgba(248, 248, 248, 1);
    box-shadow: inset;
    width: 850px;
    height: 700px; margin-left: -650px;">
    <!-- <div class="row">sdfghjkl;</div>         <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>  <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div> <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>    <div class="row">sdfghjkl;</div>   -->
    <ul class="chat-box chatContainerScroll">
        <li *ngFor="let msg of messageList" [ngClass]="{chatleft: msg.mine , chatright:!msg.mine}">
            <!-- *ngFor="let msg of messageList" c" -->
           
                <div class="chat-avatar" *ngIf="msg.mine">
                    <img src="././assets/download (1).jpg" alt="Retail Admin" *ngIf="msg.mine">
                    <div class="chat-name" *ngIf="msg.mine">{{userName}}</div>
                </div>
                <div class="chat-text" style="background: #ffffff;
                border-radius: 50px;" *ngIf="msg.mine">{{msg.message}}</div>
                <div class="chat-hour" *ngIf="msg.mine">{{msg.date}} <span class="fa fa-check-circle"></span></div>
            
        
        
            
                <div class="chat-hour" *ngIf="!msg.mine">{{msg.date}} <span class="fa fa-check-circle"></span></div>
                <div class="chat-text" *ngIf="!msg.mine" style="background: #D7D7D7; 
                border-radius: 50px;">{{msg.message}}</div>
                <div class="chat-avatar" *ngIf="!msg.mine">
                    <img src="././assets/download (1).jpg" alt="Retail Admin">
                   
                </div>
    </ul>
<!-- //////////// -->
<div class="container" style=" width: 800px;  position: absolute ;bottom:0; ">
    <div class=" ">
        <button class="btn" (click)="sendMessage()">أرسل</button>
        <textarea class="form-control"  placeholder="اكتب رسالتك هنا..."></textarea>
       
    </div>
</div>
<!-- /////////////// -->
</div>
    </div>
</div>


</div>